/* Reset de margens e preenchimentos para todos os elementos */
* {
  padding: 0;
  margin: 0;
}

/* Estilo global para o corpo do documento */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #fff url(./img/fundo2.png) repeat-x center top;
}

/* Estilo do cabeçalho */
header {
  width: 750px;
  margin: 0 auto;
}

/* Estilo da parte superior do site (topo) */
.topo {
  height: 160px;
  background: url(./img/detalhe-topo.png) no-repeat right top;
  padding-top: 15px;
  padding-bottom: 30px;
}

/* Estilo do logotipo */
.logo {
  width: 152px;
  height: 66px;
  background: url(./img/logo.png) no-repeat center;
  /* Ocultar texto do logotipo */
  text-indent: -3000px;
}

/* Estilo da barra de navegação */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 83%;
}

/* Estilo específico para a barra de navegação no topo */
.topo ul {
  margin-top: 30px;
  background: #b10333;
}

.topo ul a {
  font-size: 0.9em;
  display: block;
  padding: 0.5em 1.4em;
  line-height: 2.1em;
  text-decoration: none;
  color: #fff;
  background: url(./img/divisor.png) no-repeat left center;
}

/* Estilo para o primeiro item da barra de navegação */
.topo ul .primeiro a {
  background: none repeat scroll 0;
}

/* Estilo ao passar o mouse sobre os links da barra de navegação */
.topo ul a:hover {
  color: #69001d;
}

/* Estilos específicos para diferentes páginas do site */
body.home .navegacao a.home,
body.brasil .navegacao a.brasil,
body.internacional .navegacao a.internacional,
body.economia .navegacao a.economia,
body.saude .navegacao a.saude,
body.ciencia .navegacao a.ciencia,
body.fotos .navegacao a.fotos {
  color: #fff;
  background: #de003e;
}

/* Configura layout de três colunas */
main { 
  background: #f5f5f5;
  padding: 20px 0px 19px 230px;
}

section { 
  width: 270px;
  background: blue;
  float: left;
  margin: 0 0 20px 195px;
}

.secundario {
  width: 270px;
  float: left;
  margin: 0 0 20px 15px;
  background: green;
}

.lateral { 
  width: 180px;
  background: yellow;
  float: left;
  margin:0 0 20px -750px;
}

/*Rodape*/
footer { 
  background: #294c71;
  text-align: center;
  padding: 20px;
}

.rodape { 
  width: 750px;
  margin: 0 auto;
  color: #fff;
}