/* Reset de margens e preenchimentos para todos os elementos */
* {
  padding: 0;
  margin: 0;
}

/* Estilo global para o corpo do documento */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #fff url(./img/fundo2.png) repeat-x center top;
}

/* Estilo do cabeçalho */
header {
  width: 750px;
  margin: 0 auto;
}

/* Estilo da parte superior do site (topo) */
.topo {
  height: 170px;
  background: url(./img/detalhe-topo.png) no-repeat right top;
  padding-top: 15px;
  padding-bottom: 30px;
}

/* Estilo do logotipo */
.logo {
  width: 152px;
  height: 66px;
  background: url(./img/logo.png) no-repeat center;
  /* Ocultar texto do logotipo */
  text-indent: -3000px;
}

/* Estilização dos links*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 83%;
}

/* Estilo da barra de navegação */
.navegacao { 
  display: flex;
}

/* Estilo específico para a barra de navegação no topo */
.topo ul {
  margin-top: 30px;
  background: #b10333;
}

.topo ul a {
  font-size: 0.9em;
  display: block;
  padding: 0.5em 1.4em;
  line-height: 2.1em;
  text-decoration: none;
  color: #fff;
  background: url(./img/divisor.png) no-repeat left center;
}

/* Estilo para o primeiro item da barra de navegação */
.topo ul .primeiro a {
  background: none repeat scroll 0;
}

/* Estilo ao passar o mouse sobre os links da barra de navegação */
.topo ul a:hover {
  color: #69001d;
}

/* Estilos específicos para diferentes páginas do site */
body.home .navegacao a.home,
body.brasil .navegacao a.brasil,
body.internacional .navegacao a.internacional,
body.economia .navegacao a.economia,
body.saude .navegacao a.saude,
body.ciencia .navegacao a.ciencia,
body.fotos .navegacao a.fotos {
  color: #fff;
  background: #de003e;
}

/* Configura layout de três colunas */
main { 
  background: #f5f5f5;
  width: 750px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

section { 
  width: 270px;
  padding-right: 30px;
}

.secundario {
  width: 270px;
  padding-right: 10px;
}

.lateral { 
  width: 180px;
}

/*Barra Lateral - caixa*/

h2 { 
  background: #294c71;
  color: #fff;
  font-size: 1.8em;
  padding: 5px;
  margin-bottom: 5px;
}

.caixa { 
  padding: 10px 0 0 10px;
  margin-top: 9px;
}

.caixa-conteudo { 
  background: #fff;
  padding: 10px;
}

.lateral { 
  display: flex;
  flex-direction: column;
}

/*Formatar menus laterais*/
.lateral ul a { 
  font-size: 0.9em;
  padding: 3px;
  display: block;
  line-height: 30px;
  color: #000; 
  text-decoration: none;
  border-bottom: 1px solid #f3f3f3;
}

.lateral ul a:hover { 
  color: #a1a1a1;
  background: #f9f9f9 url(./img/marcador.png) no-repeat left top center; 
  padding-left: 20px;
}

.label { 
  display: block;
  cursor: pointer; 
}

input {
  padding: 5px;
  width: 125px;
  font-size: 0.9em;
  background-color: #fff;
  display: block; 
  margin-bottom: 10px;  
}

input.submit { 
  width: 80px;
  color: #fff;
  background-color: #b10333;
  border: 2px solid #870529;
}

/*Formatando imagens*/

img.imagem-principal { 
  width: 98%;
  margin-top: 10px;
  border: 3px solid #dfdfdf;
}

/*Formatando os cabeçalhos*/
h3 { 
  text-transform: uppercase;  
  display: inline;
  font-size: 0.8em;
  padding: 3px;
}

.destaque, .entrevista {
  background: #b10333;
  color: #fff;
}

/*Formatação da lista de notícias*/
.lista-noticias li{ 
  padding: 2px;
}


/*Rodape*/
footer { 
  background: #294c71;
  text-align: center;
  padding: 20px;
}

.rodape { 
  width: 750px;
  margin: 0 auto;
  color: #fff;
}
